.section__recommendation-preview {
    width: 100%;
    background-image: url(./../../../dist/images/Rectangle\ 5.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 20px;
    background-repeat: no-repeat;
}
